{% extends 'index_master.html' %}

{% block title %}Modificar Categoria{% endblock title %} 

{% block content %}

<div class="right_col row" role="main">
    <div class="col-md-12 offset-md-12">
        <h2>Modificacion de la Categoria {{categoria.id_categoria}}</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCategoria/" method="POST">{% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Codigo</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            name="txtCodigoid_categoria" class="form-control" value="{{categoria.id_categoria}}" readonly required>
                    </div> 
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" aria-describedby="emailHelp" name="txtNombre" class="form-control" value="{{categoria.nombre}}"
                        required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Descripcion</label>
                        <textarea class="form-control" name="textxtDescripciontarea" rows="8" cols="50" required>{{categoria.descripcion}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}