{% extends 'index_master.html' %}

{% block title %}Modifcar Cliente{% endblock title %} 

{% block content %}

<div class="right_col row" role="main">
    <div class="col-md-12 offset-md-12">
        <h2>Modificar Cliente {{cliente.cedula_cliente}}</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'editarCliente' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtCodigo" aria-describedby="emailHelp"
                                name="txtCedula" class="form-control" value="{{cliente.cedula_cliente}}" readonly required>
                        </div> 
                        <div class="col-md-6 mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="txtNombre" value="{{ cliente.nombre }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido1" class="form-label">Primer apellido</label>
                            <input type="text" class="form-control" id="txtApellido1" name="txtApellido1" value="{{ cliente.apellido_1 }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido2" class="form-label">Segundo apellido</label>
                            <input type="text" class="form-control" id="txtApellido2" name="txtApellido2" value="{{ cliente.apellido_2 }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtNacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="txtNacimiento" name="txtNacimiento" value="{{ nacimiento }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtCorreo" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="txtCorreo" name="txtCorreo" value="{{ cliente.correo }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTelefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" value="{{ cliente.telefono }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtDireccion" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" value="{{ cliente.direccion }}" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}