{% extends 'layouts/base.html' %}

{% block title %} Modificar Cliente {% endblock %}

{%block content_header %}
<div class="col-sm-6">
    <h1 class="m-0">Gestion de Clientes</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Clientes</li>
    </ol>
</div>
{% endblock %}

{% block content_body %}

<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Modificar Cliente {{cliente.cedula_cliente}}</h3>
            </div>
            <form action="{% url 'editarCliente' %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtCodigo" aria-describedby="emailHelp"
                                name="txtCedula" class="form-control" value="{{cliente.cedula_cliente}}" readonly
                                required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                                value="{{ cliente.nombre }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido1" class="form-label">Primer apellido</label>
                            <input type="text" class="form-control" id="txtApellido1" name="txtApellido1"
                                value="{{ cliente.apellido_1 }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido2" class="form-label">Segundo apellido</label>
                            <input type="text" class="form-control" id="txtApellido2" name="txtApellido2"
                                value="{{ cliente.apellido_2 }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtNacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="txtNacimiento" name="txtNacimiento"
                                value="{{ nacimiento }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtCorreo" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="txtCorreo" name="txtCorreo"
                                value="{{ cliente.correo }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTelefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtTelefono" name="txtTelefono"
                                value="{{ cliente.telefono }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtDireccion" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                value="{{ cliente.direccion }}" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}