{% extends 'layouts/base.html' %}

{% block title %} Modificar Colaborador {% endblock %}

{%block content_header %}
<div class="col-sm-6">
    <h1 class="m-0">Gestion de Colaboradores</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Colaboradores</li>
    </ol>
</div>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Modificar Colaborador {{colaborador.id_colaborador}}</h3>
            </div>
            <form action="/editarColaborador/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_colaborador" value="{{colaborador.id_colaborador}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="txtCedula" class="form-label">Cédula</label>
                            <input type="text" class="form-control" id="txtCedula" aria-describedby="emailHelp"
                                name="txtCedula" class="form-control" placeholder="Cédula"
                                value="{{colaborador.cedula_colaborador}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" aria-describedby="emailHelp"
                                name="txtNombre" class="form-control" placeholder="Nombre"
                                value="{{colaborador.nombre}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido1" class="form-label">Primer Apellido</label>
                            <input type="text" class="form-control" id="txtApellido1" aria-describedby="emailHelp"
                                name="txtApellido1" class="form-control" placeholder="Primer Apellido"
                                value="{{colaborador.apellido_1}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido2" class="form-label">Segundo Apellido</label>
                            <input type="text" class="form-control" id="txtApellido2" aria-describedby="emailHelp"
                                name="txtApellido2" class="form-control" placeholder="Segundo Apellido"
                                value="{{colaborador.apellido_2}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtCorreo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="txtCorreo" aria-describedby="emailHelp"
                                name="txtCorreo" class="form-control" placeholder="Correo"
                                value="{{colaborador.correo}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTelefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtTelefono" aria-describedby="emailHelp"
                                name="txtTelefono" class="form-control" placeholder="Teléfono"
                                value="{{colaborador.telefono}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtPuesto" class="form-label">Puesto</label>
                            <input type="text" class="form-control" id="txtPuesto" aria-describedby="emailHelp"
                                name="txtPuesto" class="form-control" placeholder="Puesto"
                                value="{{colaborador.puesto}}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtDireccion" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="txtDireccion" aria-describedby="emailHelp"
                                name="txtDireccion" class="form-control" placeholder="Dirección"
                                value="{{colaborador.col_direccion}}" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}