{% extends 'layouts/base.html' %}

{% block title %} Colaboradores {% endblock %}

{%block content_header %}
<div class="col-sm-6">
    <h1 class="m-0">Gestion de Colaboradores</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Colaboradores</li>
    </ol>
</div>
{% endblock %}

{% block content_body %}

<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Colaboradores</h3>
            </div>
            <form action="/registrarColaborador/" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="txtCedula" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtCedula" name="txtCedula" placeholder="Cedula"
                                required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre"
                                required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido1" class="form-label">Primer Apellido</label>
                            <input type="text" class="form-control" id="txtApellido1" name="txtApellido1"
                                placeholder="Primer Apellido" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtApellido2" class="form-label">Segundo Apellido</label>
                            <input type="text" class="form-control" id="txtApellido2" name="txtApellido2"
                                placeholder="Segundo Apellido">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtCorreo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="txtCorreo" name="txtCorreo"
                                placeholder="Correo" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTelefono" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="txtTelefono" name="txtTelefono"
                                placeholder="Telefono" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtPuesto" class="form-label">Puesto</label>
                            <input type="text" class="form-control" id="txtPuesto" name="txtPuesto" placeholder="Puesto"
                                required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtDireccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                placeholder="Direccion"></input>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de Colaboradores</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Puesto</th>
                            <th>Dirección</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for colaborador in colaboradores %}
                        <tr>
                            <td>{{ colaborador.id_colaborador }}</td>
                            <td>{{ colaborador.cedula_colaborador }}</td>
                            <td>{{ colaborador.nombre }}</td>
                            <td>{{ colaborador.apellido_1 }}</td>
                            <td>{{ colaborador.apellido_2 }}</td>
                            <td>{{ colaborador.correo }}</td>
                            <td>{{ colaborador.telefono }}</td>
                            <td>{{ colaborador.puesto }}</td>
                            <td>{{ colaborador.col_direccion }}</td>
                            <td>
                                <a href="edicionColaborador/{{colaborador.id_colaborador}}"
                                    class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                                <a href="eliminarColaborador/{{colaborador.id_colaborador}}"
                                    class="btn btn-danger btnEliminacion">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Puesto</th>
                            <th>Dirección</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}