<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="CLIENTES_CON_MAS_COMPRAS.html" target="ObjectDetailsFrame">CLIENTES_CON_MAS_COMPRAS</a>
<a href ="DIA_MAX_VENTAS.html" target="ObjectDetailsFrame">DIA_MAX_VENTAS</a>
<a href ="PRODUCTOS_MAS_VENDIDOS.html" target="ObjectDetailsFrame">PRODUCTOS_MAS_VENDIDOS</a>
<a href ="VENTAS_MENSUALES_COLABORADOR.html" target="ObjectDetailsFrame">VENTAS_MENSUALES_COLABORADOR</a>
<a href ="VENTAS_MENSUALES_PRODUCTOS.html" target="ObjectDetailsFrame">VENTAS_MENSUALES_PRODUCTOS</a>
<a href ="VENTAS_SEMANALES_COLABORADOR.html" target="ObjectDetailsFrame">VENTAS_SEMANALES_COLABORADOR</a>
<a href ="VISTA_CLIENTES_COMPRAS.html" target="ObjectDetailsFrame">VISTA_CLIENTES_COMPRAS</a>
<a href ="VISTA_CLIENTES_MAS_COMPRAS.html" target="ObjectDetailsFrame">VISTA_CLIENTES_MAS_COMPRAS</a>
<a href ="VISTA_CLIENTES_MENOS_COMPRAS.html" target="ObjectDetailsFrame">VISTA_CLIENTES_MENOS_COMPRAS</a>
<a href ="VISTA_DEVOLUCIONES.html" target="ObjectDetailsFrame">VISTA_DEVOLUCIONES</a>
<a href ="VISTA_FACTURAS.html" target="ObjectDetailsFrame">VISTA_FACTURAS</a>
<a href ="VISTA_PRODUCTOS.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS</a>
<a href ="VISTA_PRODUCTOS_BAJO_INVENTARIO.html" target="ObjectDetailsFrame">VISTA_PRODUCTOS_BAJO_INVENTARIO</a>
<a href ="VISTA_VENTAS_CATEGORIA.html" target="ObjectDetailsFrame">VISTA_VENTAS_CATEGORIA</a>
<a href ="VISTA_VENTAS_PRODUCTO_FECHA.html" target="ObjectDetailsFrame">VISTA_VENTAS_PRODUCTO_FECHA</a>

</div></body> </html>