{% extends 'layouts/base.html' %}

{% block title %} Devoluciones {% endblock %}

{%block content_header %}
<div class="col-sm-6">
    <h1 class="m-0">Gestion de Devoluciones</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Devoluciones</li>
    </ol>
</div>
{% endblock %}

{% block content_body %}

<div class="row">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Devoluciones</h3>
            </div>
            <form action="/registrarDevolucion/" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="cod_factura" class="form-label">Factura</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="factura-buscador" placeholder="Buscar factura..."
                                    onkeyup="buscarFactura()">
                                <select class="form-select" id="cod_factura" name="cod_factura" required>
                                    <option value="">Facturas</option>
                                    {% for factura in facturas %}
                                    {% if factura.estado == 1 %}
                                    <option value="{{ factura.cod_factura }}" data-cliente="{{ factura.cedula_cliente }}"
                                        data-producto="{{ factura.codigo_producto }}" data-cantidad="{{ factura.cantidad }}"
                                        data-precio="{{ factura.precio_unitario }}" data-total="{{ factura.total_pagado }}">
                                        {{ factura.cod_factura }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                       
                        <div class="col-md-12 mb-3">
                            <label for="monto_devolucion" class="form-label">Monto de devolución</label>
                            <input type="number" class="form-control" id="monto_devolucion" name="monto_devolucion" 
                            placeholder="Monto de devolución" step="0.01" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </div>
            </form>            
        </div>
    </div>
    <div class="col-md-8">  
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Factura</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cedula_cliente" class="form-label">Codigo factura</label>
                        <input type="text" class="form-control" id="codigo_factura" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cedula_cliente" class="form-label">Cedula Cliente</label>
                        <input type="text" class="form-control" id="cedula_cliente" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="id_colaborador" class="form-label">Codigo producto</label>
                        <input type="text" class="form-control" id="codigo_producto" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="text" class="form-control" id="cantidad" disabled />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="precio" class="form-label">Precio unitario</label>
                        <input type="text" class="form-control" id="precio_unitario" disabled />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="total_pagado" class="form-label">Total Pagado</label>
                        <input type="text" class="form-control" id="total_pagado" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de Devoluciones</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID Devolucion</th>
                            <th>Cedula Cliente</th>
                            <th>Codigo Producto</th>
                            <th>Codigo Factura</th>
                            <th>Monto Devolucion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for devolucion in devoluciones %}
                        <tr>
                            <td>{{ devolucion.id_devolucion }}</td>
                            <td>{{ devolucion.ced_cliente }}</td>
                            <td>{{ devolucion.cod_producto }}</td>
                            <td>{{ devolucion.cod_factura }}</td>
                            <td>{{ devolucion.monto_devolucion }}</td>
                            <!--
                            <td> <a href="edicionFactura/{{devolucion.cod_factura}}" class="btn btn-warning">Editar</a>
                            </td>
                            -->
                            <td> <a href="eliminarDevolucion/{{devolucion.id_devolucion}}"
                                    class="btn btn-danger btnEliminacion">Eliminar</a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID Devolucion</th>
                            <th>Cedula Cliente</th>
                            <th>Codigo Producto</th>
                            <th>Codigo Factura</th>
                            <th>Monto Devolucion</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function buscarFactura() {
        var input = document.getElementById("factura-buscador");
        var filter = input.value.toLowerCase();
        var options = document.querySelectorAll('#cod_factura option');
        for (var i = 0; i < options.length; i++) {
            options[i].selected = true;
            var facturaId = options[i].value;
            if (facturaId && facturaId.indexOf(filter) > -1) {
                document.getElementById("codigo_factura").value = options[i].value;
                document.getElementById("cedula_cliente").value = options[i].getAttribute("data-cliente");
                document.getElementById("codigo_producto").value = options[i].getAttribute("data-producto");
                document.getElementById("cantidad").value = options[i].getAttribute("data-cantidad");
                document.getElementById("precio_unitario").value = options[i].getAttribute("data-precio");
                document.getElementById("total_pagado").value = options[i].getAttribute("data-total");
                calcularDevolucion();
                break;
            }else{
                document.getElementById("codigo_factura").value = "";
                document.getElementById("cedula_cliente").value = "";
                document.getElementById("codigo_producto").value = "";
                document.getElementById("cantidad").value = "";
                document.getElementById("precio_unitario").value = "";
                document.getElementById("total_pagado").value = "";
            }
        }
    }
    function calcularDevolucion() {
        var totalPagadoInput = document.getElementById("total_pagado");
        var montoDevolucionInput = document.getElementById("monto_devolucion");
        var totalPagado = parseFloat(totalPagadoInput.value);
        var montoDevolucion = totalPagado-(totalPagado * 0.1);
        montoDevolucionInput.value = montoDevolucion.toFixed(2);
    }
</script>
{% endblock %}