{% extends 'layouts/base.html' %}

{% block title %} Modificar Sucursal {% endblock %}

{%block content_header %}
<div class="col-sm-6">
    <h1 class="m-0">Gestion de Sucursales</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Sucursales</li>
    </ol>
</div>
{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Sucursal {{sucursal.id_sucursal}}</h3>
            </div>
            <form action="/editarSucursal/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_sucursal" value="{{ sucursal.id_sucursal }}" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="txtNombre" value="{{sucursal.nombre}}" required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txtTelefono" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" value="{{sucursal.telefono}}" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="txtDireccion" class="form-label">Direccion</label>
                            <textarea class="form-control" rows="4" cols="50" id="txtDireccion" name="txtDireccion">{{sucursal.direccion}}</textarea >
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}